body{
font-family: Arial;
max-width:500px;
margin:auto;
}

.form-group{
margin-bottom:15px;
}

input,select,textarea{
width:100%;
padding:8px;
margin-top:5px;
}

textarea{
height:80px;
}

.error{
color:red;
font-size:13px;
display:block;
}

#noteCount{
font-size:12px;
color:gray;
}

#total{
font-weight:bold;
color:green;
}

#confirmBox{
margin-top:20px;
padding:10px;
border:1px solid #ccc;
display:none;
}

#success{
margin-top:20px;
font-size:18px;
color:green;
}